{% if produto is defined %}
  {% dump(produto) %}
  <h1>{{produto.categoria.nome}}</h1>
{% endif %}

{% if produtos is defined %}
  {% dump(produtos) %}
  {% for produto in produtos %}
    <ul>
      <li>{{produto.nome}}</li>
    </ul>
  {% endfor %}
{% endif %}
